/* --- Reset Styles --- */
* {
  list-style: none;
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
  /* border: 1px red solid; */
}
/* --- Typography --- */
h1,
h2,
h3 {
  font-weight: 700;
}

h2 {
  font-size: 1.4em;
  color: #606060;
}
p,
a {
  font-size: 0.9em;
}

/* --- Global Styles --- */
body {
  font-family: "Oswald", sans-serif;
}

/* --- Layout Styles --- */
.wrapper {
  width: 100%;
  margin: 0 auto;
  padding: 0 25px;
  max-width: 525px;
}

.flex {
  display: flex;
}
.ob-flex {
  height: 100vh;
  flex-direction: column;
  justify-content: center;
}

/* --- Utility Styles --- */
.card {
  width: 100%;
  height: auto;
  background-color: white;
  border-radius: 10px;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.15);
  padding: 30px 20px;
}
.card h2 {
  font-size: 1.3em;
  margin-bottom: 20px;
}

input,
select {
  border: 1px solid #fc5c7d;
  border-radius: 0;
  background-color: white;
  display: block;
  width: 100%;
  height: 48px;
  margin-bottom: 20px;
  padding-left: 20px;
  font-family: "Oswald";
  font-weight: 300;
  font-size: 1em;
  color: #7e7e7e;
}

button {
  font-family: "Oswald";
}
button#submit {
  background-color: #6a8bfb;
  width: 100%;
  height: 48px;
  border-radius: 10px;
  border: none;
  color: white;
  font-family: "Oswald";
  font-weight: 500;
  font-size: 0.9em;
}
button:hover {
  cursor: pointer;
  box-shadow: 0px 0px 10px rgba(36, 71, 184, 0.5);
}

.user-icon {
  width: 40px;
  height: 40px;
  background-color: #fc5c7d;
  color: white;
  padding: 7px;
  font-size: 1.1em;
  border-radius: 50%;
  text-align: center;
}

#button-new-workout {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #6a8bfb;
  color: white;
  padding: 0px 0px 0px 0px;
  position: fixed;
  bottom: 20px;
  right: 20px;
  box-shadow: 0px 0px 20px rgba(36, 71, 184, 0.5);
}
#button-new-workout p {
  font-weight: 800;
  font-size: 3.1em;
}
#button-new-workout:hover {
  box-shadow: 0px 0px 26px rgba(36, 71, 184, 0.8);
}

/* --- Body when logged out Page Styles --- */
.logged_out {
  background-color: #fc5c7d;
  text-align: center;
}
.logged_out h1 {
  color: white;
  font-size: 2em;
}
.logged_out p {
  color: white;
  font-size: 1em;
  font-weight: 300;
}

/* --- Body when logged in Page Styles --- */
.logged_in {
  background-color: white;
}

/* --- Navigation Styles --- */
nav {
  background-color: white;
  border-bottom: 2px solid #fc5c7d;
  justify-content: space-between;
  height: 65px;
  position: sticky;
  top: 0;
  z-index: 10;
}
.nav-logo {
  margin-left: 25px;
  align-items: center;
}
nav h1 {
  color: #fc5c7d;
}
.nav-user-actions {
  margin-right: 25px;
  justify-content: space-between;
  align-items: center;
  width: 100px;
}

.nav-user-actions a {
  color: #6a8bfb;
  font-weight: 300;
}
.nav-user-actions .user-icon a {
  color: white;
  font-weight: 800;
}

/* --- Onboarding Page Styles --- */

section.ob div.card h2 {
  color: #fc5c7d;
}

section.ob .card {
  margin-top: 20px;
}
.ob-prompt {
  padding-top: 30px;
}
p.ob-prompt {
  font-size: 0.9em;
}
.ob-prompt a {
  color: white;
  border: 1px solid white;
  border-radius: 5px;
  padding: 5px 10px;
  margin-left: 10px;
}
.ob-prompt a:hover {
  background-color: white;
  color: #fc5c7d;
  box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.35);
}

/* --- Workout/Index Styles --- */
.featured-workout {
  margin-top: 30px;
  background-color: #fc5c7d;
  border-radius: 10;
  padding-top: 20px;
  display: block;
  color: white;
  text-align: center;
}
a.featured-workout h2 {
  color: white;
  margin-bottom: 15px;
}
.featured-workout p {
  font-weight: 300;
  font-size: 1.3em;
}
.featured-workout p:nth-child(2) {
  font-size: 1.9em;
}
#my-workouts,
#community-workouts {
  margin-top: 30px;
}
.section-heading {
  justify-content: space-between;
  align-items: baseline;
}
.section-heading a {
  color: #6a8bfb;
  font-weight: 300;
}

.my-list {
  margin-top: 10px;
  justify-content: space-between;
}
.my-list a {
  width: 47%;
  height: 75px;
  border: 1px solid #fc5c7d;
  text-align: center;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.my-list a h3 {
  font-weight: 300;
  color: #7e7e7e;
}
.my-list a p {
  color: #fc5c7d;
  font-weight: 300;
}

.workouts a.flex {
  justify-content: flex-start;
  align-items: center;
  margin-top: 15px;
}
.workout-label {
  margin-left: 15px;
  font-weight: 300;
  color: #fc5c7d;
}
.workout-label h3 {
  font-weight: 300;
  font-size: 1.2em;
  color: #7e7e7e;
}
.workout-label p {
  font-size: 1.05em;
}

/* --- Workout/Show Styles --- */
#show-workout-heading {
  margin-top: 20px;
  text-align: center;
}
#show-workout-heading a {
  color: #fc5c7d;
  font-size: 1.05em;
  font-weight: 300;
}
#show-workout-heading p {
  color: #606060;
  font-size: 1.05em;
  font-weight: 300;
}

#current-user-actions {
  width: 40%;
  margin: 20px auto 0px auto;
  justify-content: space-between;
  align-items: center;
}
a.current-user-button {
  display: block;
  color: #6a8bfb;
  background-color: white;
  border: 1px solid #6a8bfb;
  border-radius: 5px;
  width: 56px;
  height: 28px;
  text-align: center;
  font-weight: 500;
  font-size: 0.9em;
}

button[type="submit"][value="delete"] {
  display: block;
  color: #fc5c7d;
  background-color: white;
  border: 1px solid #fc5c7d;
  border-radius: 5px;
  width: 56px;
  height: 28px;
  text-align: center;
  font-weight: 500;
  font-size: 0.9em;
}

#the-workout {
  margin-top: 20px;
}

.workout-time {
  text-align: center;
  font-weight: 300;
  color: #606060;
}
.workout-time span {
  color: #fc5c7d;
}

.exercise-container {
  margin-top: 25px;
  height: 70px;
  justify-content: flex-start;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  overflow: hidden;
}
.exercise-number {
  justify-content: center;
  align-items: center;
  color: white;
  background-color: #fc5c7d;
  width: 75px;
  font-size: 1.8em;
}
.exercise-label {
  margin-left: 15px;
  width: 100%;
  flex-direction: column;
  justify-content: center;
}
.exercise-label h3 {
  color: #606060;
}
.exercise-details {
  justify-content: space-between;
}
.exercise-details p {
  font-weight: 300;
  color: #7e7e7e;
}
.exercise-details span {
  color: white;
  background-color: #6a8bfb;
  padding: 2px 14px;
  font-size: 0.8em;
  font-weight: 500;
  border-radius: 12px;
  margin-right: 15px;
  width: 60px;
  text-align: center;
  opacity: 0.7;
}

/* --- Workout/new Styles --- */

#new-edit-workout-heading {
  margin-top: 20px;
  text-align: center;
}
#new-edit-workout-heading p {
  font-weight: 300;
  color: #7e7e7e;
}
#workout-form {
  margin: 20px 0 40px 0;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.15);
}
#workout-form input,
#workout-form select {
  margin-bottom: 0px;
}
#workout-form p {
  text-align: center;
  font-weight: 300;
  font-size: 0.8em;
  margin-bottom: 15px;
  color: #7e7e7e;
}
#workout-form a {
  color: #6a8bfb;
}

/* --- User/show Styles --- */

#user-heading {
  text-align: center;
  margin-top: 20px;
}
#user-heading p {
  font-weight: 300;
  font-size: 1.15em;
  color: #fc5c7d;
}
#users-workouts {
  margin-top: 20px;
}
#users-workouts a {
  text-align: center;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 30px;
  height: 90px;
  width: 100%;
  flex-direction: column;
  justify-content: center;
}
#users-workouts a h3 {
  font-weight: 300;
  font-size: 1.6em;
  color: #7e7e7e;
}
#users-workouts a p {
  font-weight: 300;
  font-size: 1.15em;
  color: #fc5c7d;
}

/* --- Users/index Styles --- */
#users-heading {
  text-align: center;
  margin-top: 20px;
}
#users-heading p {
  font-weight: 300;
  color: #7e7e7e;
}
#users-list {
  margin-top: 20px;
}
#users-list a {
  border: 1px solid #fc5c7d;
  height: 90px;
  margin-bottom: 20px;
  border-radius: 10px;
  justify-content: flex-start;
  align-items: center;
}
#users-list a .user-icon {
  margin-left: 20px;
}
.user-label {
  margin-left: 15px;
}
.user-label p {
  color: #fc5c7d;
  font-weight: 300;
  font-size: 1.6em;
}
.user-label p.count {
  color: #7e7e7e;
  font-weight: 300;
  font-size: 1.1em;
}

/* --- Exercise Styles --- */
#exercise-form {
  margin: 20px 0 40px 0;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.15);
}

#exercise-categories {
  margin: 20px 0px 40px 0px;
}
#exercise-categories div.card {
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.15);
  margin-bottom: 30px;
}

#exercise-categories h3 {
  color: #606060;
  text-align: center;
  margin-bottom: 10px;
}

#exercise-categories p {
  font-weight: 300;
  font-size: 1.1em;
  color: #fc5c7d;
  margin-bottom: 3px;
}
#exercise-categories p span {
  color: #7e7e7e;
  margin-left: 5px;
}

@media screen and (min-width: 525px) {
  #button-new-workout {
    right: 33%;
  }
}
