<div>
  <% if current_user.id == @user.id%>
    <h2>MY WORKOUTS</h2>
  <% else %>
    <h2>WORKOUTS BY</h2>
  <% end %>
  <p>@<%= @user.username %></p>
</div>

<div>
  <% @user.workouts.each do |workout| %>
    <a href="/workouts/<%= workout.slug %>">
      <h3><%= workout.name %></h3>
      <p><%= workout.minutes %> Minutes</p>
    </a>
  <% end %>
</div>

<a href="/workouts/new">+</a>
