<h1>Solocize</h1>
<h2>Quick Workouts. No Excuses.</h2>

<div class="card signup">
  <h3>SIGN UP</h3>
  <form action="/signup" method="POST">
    <input type="text" name="first_name" placeholder="First Name" />
    <input type="text" name="last_name" placeholder="Last Name" />
    <input type="text" name="username" placeholder="Username" />
    <input
      type="password"
      name="password"
      placeholder="Password"
    />
    <button type="submit">SIGN UP</button>
  </form>
</div>