<main class="wrapper flex ob-flex animated fadeInRight">
  <section class="ob">
    <h1>SOLOCIZE</h1>
    <p>Quick Workouts. No Excuses.</p>

    <div class="card">
      <h2>SIGN UP</h2>
      <form action="/signup" method="POST">
        <input type="text" name="first_name" placeholder="First Name" />
        <input type="text" name="last_name" placeholder="Last Name" />
        <input type="text" name="username" placeholder="Username" />
        <input type="password" name="password" placeholder="Password" />
        <button type="submit">SIGN UP</button>
      </form>
    </div>

    <p class="ob-prompt">Already signed up?<a href="/login">Log In</a></p>
  </section>
</main>
